
body {
  font-family: "Rubik", sans-serif;
}

.navbar {
  background-color: #269895;
}

.dropdown:hover .dropdown-menu,
.dropdown:active .dropdown-menu {
  display: block;
}

footer {
  background-color: rgba(0, 0, 0, 0.2);
}

.container{
  margin-top: 60px;
}

.toast{
  background-color: #F1DE3D;
}

#img-2{
  height: 50px;
  width: 50px;
  position: absolute;

}


.card{
  text-align: center;
}


/*-------------------------*/


